// -------------------------------------
//  BODY & CONTAINER
// -------------------------------------

body {
  background-color: $bg-color;
}

.body {
  width: 100%;
  background-color: $bg-color;
}

// Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone
.container {
  display: block;
  width: auto !important;
  width: $width;
  max-width: $width;
  margin: 0 auto !important; // makes it centered
}

// This should also be a block element, so that it will fill 100% of the .container
.content {
  display: block;
  max-width: $width;
  padding: 30px 10px;
  margin: 0 auto;
}

// -------------------------------------
//  HEADER, FOOTER, MAIN
// -------------------------------------

.main {
  width: 100%;
  color: $sl-copy;
  background: $bg-content;
  border: 1px solid $sl-border;
  border-radius: $br;
}

.main-header {
  padding: 17px 30px;
  border-bottom: 1px solid $sl-border;

  * {
    vertical-align: middle;
  }
}

.main-header--product {
  padding: 10px 30px 20px;
}

.main-header__container {
  padding: 0;
}

.main-header__title {
  padding-right: 30px;
  font-size: 18px;
  font-weight: 700;
}

.main-header__logo {
  width: 35px;
}

.main-header__product {
  text-align: center;
}

.main-header__product-title {
  padding: 10px 0 8px;
  font-size: 24px;
  font-weight: 700;
}

.main-header__product-subheading {
  font-size: 18px;
  font-style: italic;
  color: $sl-copy-light;
}

.content-wrapper {
  padding: 30px;
}

.content-footer {
  padding: 10px;
  border-top: 1px solid $sl-border;
}

.content-footer--face {
  padding: 10px 20px;
  vertical-align: middle;
}

.content-footer__logo {
  display: block;
  margin: 0 auto;
}

.content-footer__face {
  width: 94px;
  padding-right: 10px;
  vertical-align: middle;
}

.content-footer__contact {
  line-height: 1.4;
  vertical-align: middle;
}

// Adds padding to content - use this instead of paragraphs for consistent padding/margin rendering
.content-block {
  padding: 0 0 25px;
}

.content-title {
  padding: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
}

.footer {
  width: 100%;
  padding: 20px 30px;
  clear: both;
  color: $sl-copy;

  * {
    font-size: 11px;
  }
}
