---
layout: basic.hbs
subject: Basic ServiceLine email
title: ServiceLine Invoice #000003
---

<div class="content-block">
  Hello Vic,
</div>

<div class="content-block">
  Thank you for using ServiceLine!
</div>

<div class="content-block">
  Your VISA ending in 9696 was successfully charged for $0.00 for Invoice #000003. Thank you for your business!
</div>

<div class="content-block">
  <a href="#">You can view you invoice here.</a>
</div>

<div class="content-block">
  Please feel free to reply to this email if you have any questions about your bill or ServiceLine.
</div>

<div class="content-block">
  Sincerely,
  <br />
  ServiceLine
</div>
